<header>
  <nav
    class="p-4 flex justify-between items-center border-b-2 border-vervoer-grey"
  >
    <section class="logo">
      <a href="#" routerLink="/" aria-label="Link naar homepagina">
        <img src="assets/logo.svg" alt="Logo van vervoerregio" />
      </a>
    </section>
    <section class="icons flex justify-center items-center gap-4">
      <a
        href="#"
        routerLink="/informatie/info"
        aria-label="Link naar informatiepagina"
      >
        <img src="assets/information.svg" alt="Informatie pagina icoon" />
      </a>
      <img src="assets/darkmode.svg" alt="Dark en lightmode icoon" />
    </section>
  </nav>
</header>
